[Unit]
Description=My test Python Script
After=multi-user.target

[Service]
Type=simple
Restart=always
User=root
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/python3 /home/ladavisiv/Projects/led_matrix_spot/main.py

[Install]
WantedBy=multi-user.target
