[Unit]
Description=Main led service
After=multi-user.target

[Service]
Type=simple
Restart=always
User=root
WorkingDirectory=/home/ladavisiv/Projects/led_matrix_spot/flask_pi
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/python3 /home/ladavisiv/Projects/led_matrix_spot/flask_pi/app.py

[Install]
WantedBy=multi-user.target
