#rpi.service 
[Unit]
Description= RPi-Service
Wants = network-online.target
After = network-online.target

[Service]
WorkingDirectory = /home/pi/projects/led_matrix_spot/
Type = simple
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/pi/.Xauthority"
ExecStart = /usr/bin/python3  /home/pi/projects/led_matrix_spot/main.py
KillMode = process
Restart = always
RestartSec = 10s
SendSIGHUP = no
User = root


[Install]
WantedBy= graphical.target
